{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
 
 {{ parent() }}


 <table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Editorial</th>
        </tr>
    </thead>

    <tbody>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.isbn }}</td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor.nombre }}</td>
                <td>{{ libro.editorial.nombre }}</td>
            </tr>
        {% endfor %}
    </tbody>

 </table>



{% endblock %}
